@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Open+Sans:wght@300;400&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
body {
  position: relative;
  width: 100%;
  background-color: black;
  color: white;
}
nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
#nav-img {
  display: none;
  width: 120px;
  filter: grayscale(1) blur(0.4px) contrast(0.8);
}
ul {
  width: 100%;
  padding-block: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
li {
  font-size: 14px;
  list-style-type: none;
}
.nav-icons {
  display: none;
}
a {
  text-decoration: none;
  color: white;
  padding-block: 7px;
  padding-inline: 10px;
  transition: all 50ms ease-in-out;
}
a:hover {
  background-color: rgba(230, 230, 230, 0.9);
  color: black;
  border: 1px solid black;
}
button i {
  font-size: 16px;
}
main,
footer {
  padding-inline: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4em;
}
footer {
  margin-block: 2em 5em;
  gap: 1.5em;
}
/* section-1 part */
.section-1 {
  width: 100%;
  margin-top: 4em;
  margin-bottom: 3.2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2em;
}
#section-1-header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 4em;
  text-align: center;
}
#iam {
  display: none;
}
#section-1-text {
  text-align: center;
}
#section-1-img {
  min-width: 240px;
  max-width: 600px;
  width: 100%;
  object-fit: cover;
}
/* section-2 part */
.section-2 {
  padding-top: 30px;
}
#section-2-h1 {
  font-size: 2.2em;
}
.line {
  width: 220px;
  height: 1px;
  background-color: white;
  margin-top: 18px;
  margin-bottom: 12px;
}
#section-2-text {
  text-align: justify;
}
.section-3 {
  margin-top: -40px;
}
#Skills {
  padding-block: 15px;
}
.bar-section-text {
  font-size: 18px;
  padding-block: 20px;
}
.bar {
  width: 100%;
  height: 30px;
  background-color: white;
}
#Photography-bar {
  width: 95%;
  height: inherit;
  background-color: gray;
}
#Web-Design-bar {
  width: 85%;
  height: inherit;
  background-color: gray;
}
#Photoshop-bar {
  width: 70%;
  height: inherit;
  background-color: gray;
}
.section4 {
  width: 100%;
}
.info {
  padding: 10px;
  text-align: center;
  background-color: white;
  color: black;
}
.info-div {
  padding-block: 20px;
}
.head-text {
  font-size: 25px;
}
.non-head-text {
  font-size: 14px;
}
#section-4-button {
  margin-block: 35px;
  font-size: 16px;
  padding-block: 10px;
  padding-inline: 25px;
}
/* */
.pricing-section {
  margin-top: -60px;
}
.pricing-section-header {
  font-size: 26px;
  font-weight: 400;
}
.pricing {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding-block: 30px;
}
.pricing-div {
  text-align: center;
  background-color: gray;
  transition: all 100ms ease-in-out;
}
.pricing-div-h1 {
  padding-block: 1.5em;
  background-color: rgb(60, 59, 59);
  color: rgb(188, 186, 186);
}
.pricing-text {
  color: black;
  padding-block: 25px;
  border-bottom: 1px solid rgba(108, 108, 108, 0.5);
}
.pricing-div-div {
  border-bottom: 1px solid rgba(108, 108, 108, 0.5);
}
.pricing-div-div-h2 {
  font-size: 2em;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 10px;
  color: black;
}
.pricing-div-div-p {
  font-size: 14px;
  padding-bottom: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.pricing-div-button {
  font-size: 16px;
  margin-block: 1.2em;
  padding-block: 16px;
  padding-inline: 2em;
  border: none;
  background-color: rgb(149, 147, 147);
  transition: all 100ms ease-in-out;
}
.pricing-div:hover {
  background-color: white;
}
.pricing-div-button:hover {
  color: white;
  background-color: black;
}
.comment-section {
  margin-top: -50px;
  padding-bottom: 80px;
}
.comment-section-comments-img {
  aspect-ratio: 1/1;
  padding-block: 10px;
  padding-inline: 15px;
  border-radius: 50%;
  object-fit: cover;
  float: left;
}
.comment-section-part {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 15px;
}
.comment-section-comments-header {
  padding-block: 20px;
}
.myphoto-section {
  padding-top: 40px;
}
.photos-part {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
.photos {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.photos-img {
  width: 100%;
  filter: grayscale(1) blur(0.4px) contrast(1.3);
  transition: all 300ms ease-in;
}
.photos-img:hover {
  filter: none;
}
.moreinfo-div-a {
  padding: 0px !important;
}
.moreinfo {
  padding-bottom: 50px;
}
.moreinfo-div {
  padding-block: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
#Contact-h1 {
  padding-top: 1.8em;
}
input {
  width: 100%;
  padding: 18px;
  margin-block: 8px;
}
#form-button {
  margin-block: 10px;
  padding-block: 10px;
  padding-inline: 25px;
  border: none;
}
#form-button:hover {
  background-color: orangered;
}
#footer-ul {
  flex-direction: column;
  gap: 15px;
}
@media screen and (min-width: 600px) {
  nav {
    width: 120px;
    height: 100vh;
    background-color: rgb(58, 58, 58);
  }
  main,
  footer {
    margin-left: 120px;
  }
  #footer-ul {
    flex-direction: row;
  }
  #nav-img,
  .nav-icons {
    display: block;
  }
  i {
    font-size: 30px;
  }
  ul {
    height: 60%;
    padding-block: 0;
    flex-direction: column;
  }
  li {
    width: 100%;
    height: 30%;
  }
  #only-black {
    background-color: black;
  }
  li p {
    height: 100%;
  }
  li a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  #iam {
    display: block;
  }
  #section-1-header {
    flex-direction: row;
  }
  .info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .pricing {
    grid-template-columns: repeat(2, 1fr);
  }
  .photos-part {
    grid-template-columns: repeat(2, 1fr);
  }
}
